- var TEXT = {ABOUT: "瀬戸田映画祭とは", SCHEDULE: "上映スケジュール", BLOG: "ブログ - 島がまるごと映画する -", ACCESS: "瀬戸田へのアクセス"};

doctype html
html
  head
    title 瀬戸田映画祭
    style
      include style.css
  body
    #fb-root
    script.
      (function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/jv_ID/sdk.js#xfbml=1&version=v2.4&appId=154131904687651";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));
    section#wrap
      include components/header
      include components/nav

      // create contens here
      include contents/index
    include components/footer
    script
      include script.js
