$bp: 960px;
$color-main: #1d2351;

html, body, section, header, div, main, h1, h2, p, aside, footer, nav, ul, li, table, tr, th, td {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  line-height: 1.6;
}

html {
  color: #444;
  font-size: 13px;
  font-family: sans-serif;
}
html, body {
  width: 100%;
  height: 100%;
}
ul {
  list-style: none;
}

// layout
#wrap {
  margin: 0 auto;
  width: $bp;
  header {
    padding: 50px 30px 30px;
    width: 100%;
  }
  nav {
    clear: both;
    width: 100%;
    ul {
      width: 100%;
      li {
        float: left;
        a {
          display: block;
          width: 100%;
          height: 100%;
          text-align: center;
          font-size: 1.2rem;
          line-height: 60px;
        }
      }
    }
  }
  main {
    &:after {
      content: '';
      clear: both;
      display: block;
    }
    #content {
      float: left;
      width: 66%;
    }
    aside {
      float: right;
      width: 34%;
    }
  }
}
footer {
  width: 100%;
  .footer-inner {
    width: $bp;
    margin: 0 auto;
  }
}
@media all and (max-width: $bp) {
  #wrap {
    width: 100%;
    nav {
      width: 100%;
      ul {
        li {
          width: 50%;
        }
      }
    }
    main {
      #content {
        float: none;
        width: 100%;
      }
      aside {
        display: none;
        float: none;
        width: 100%;
      }
    }
  }
  footer {
    .footer-inner {
      width: 100%;
    }
  }
}

// modules
header {
  overflow: hidden;
  .logo {
    float: left;
    padding: 10px;
  }
  .copy {
    float: left;
    padding: 0 50px;
    p {
      padding: 0 10px 20px;
    }
    ul {
      padding: 0 10px;
      li {
        a {
          margin-left: 20px;
          padding: 3px;
          background-color: $color-main;
          color: #fff;
          text-decoration: none;
          font-size: .9rem;
        }
      }
    }
  }
  .info {
    float: right;
    padding: 20px 0 0;
    p {
      margin-bottom: 10px;
      vertical-align: middle;
      line-height: 26px;
      img {
        width: 120px;
      }
    }
    ul {
      li {
        margin-bottom: 10px;
        height: 24px;
        background-position: left top;
        background-repeat: no-repeat;
        line-height: 24px;
        a {
          display: block;
          padding-left: 32px;
          width: 100%;
          height: 100%;
          color: inherit;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .link-youtube {
        background-image: url(http://khirayama.github.io/tumblr-creater/public/images/icon_sns_youtube.png);
      }
      .link-facebook {
        background-image: url(http://khirayama.github.io/tumblr-creater/public/images/icon_sns_facebook.png);
      }
      .link-twitter {
        background-image: url(http://khirayama.github.io/tumblr-creater/public/images/icon_sns_twitter.png);
      }
    }
  }
}
nav {
  padding: 0 30px;
  .nav-about {
    width: 22%;
    img {
      width: 148px;
    }
  }
  .nav-schedule {
    width: 20%;
    img {
      width: 148px;
    }
  }
  .nav-blog {
    width: 36%;
    img {
      width: 265px;
    }
  }
  .nav-access {
    width: 22%;
    img {
      width: 168px;
    }
  }
}
#content {
  section {
    padding: 20px 30px 50px;
    .img-wrap {
      margin-bottom: 10px;
    }
    ul {
      padding-top: 20px;
      li {
        overflow: hidden;
        .img-wrap {
          width: 45%;
          float: left;
          padding: 5px 40px 0 0;
        }
        table {
          th {
            font-weight: normal;
          }
          td {
            a {
              float: right;
              text-decoration: none;
              background-color: $color-main;
              color: #fff;
              padding: 0 3px;
              font-size: .9rem;
            }
          }
          .date {
            font-size: 1.2rem;
          }
        }
      }
    }
    .download {
      text-align: center;
      padding: 20px 0 0;
      a {
        text-decoration: none;
        background-color: $color-main;
        color: #fff;
        padding: 3px;
        font-size: .9rem;
      }

    }
  }
}
aside {
  .list-sns {
    padding-top: 30px;
    li {
      width: 50%;
      float: left;
      img {
        width: 100%;
        vertical-align: bottom;
      }
    }
  }
  iframe {
    width: 100%;
  }
}
footer {
  background-color: $color-main;
  .footer-inner {
    color: #fff;
    position: relative;
    height: 120px;
  }
  .img-wrap {
    position: absolute;
    top: 10px;
    left: 50px;
    width: 75px;
    img {
      width: 100%;
    }
  }
  small {
    position: absolute;
    bottom: 10px;
    left: 50px;
  }
  ul {
    position: absolute;
    top: 10px;
    right: 50px;
  }
}

// contents
.index {
  #main-visual {
    img {
      width: 100%;
      height: auto;
    }
  }
  h2 {
    text-decoration: underline;
  }
  .img-wrap {
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }
  iframe {
    width: 100%;
  }
}
