$bp: 960px;
$color-main: #1d2351;

html, body, section, header, div, main, h1, h2, h3, p, aside, footer, nav, ul, li, table, tr, th, td {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  line-height: 1.6;
}

html {
  color: #444;
  font-size: 13px;
  font-family: sans-serif;
}
html, body {
  width: 100%;
  height: 100%;
}
ul {
  list-style: none;
}

// layout
#wrap {
  margin: 0 auto;
  width: $bp;
  header {
    padding: 50px 30px 30px;
    width: 100%;
  }
  nav {
    clear: both;
    width: 100%;
    ul {
      width: 100%;
      li {
        float: left;
        a {
          display: block;
          width: 100%;
          height: 100%;
          text-align: center;
          font-size: 1.2rem;
          line-height: 60px;
        }
      }
    }
  }
  main {
    &:after {
      display: block;
      clear: both;
      content: '';
    }
    #content {
      float: left;
      width: calc(100% - 341px);
    }
    aside {
      float: right;
      width: 340px;
    }
  }
}
footer {
  width: 100%;
  .footer-inner {
    margin: 0 auto;
    width: $bp;
  }
}
@media all and (max-width: $bp) {
  #wrap {
    width: 100%;
    overflow: hidden;
    nav {
      padding: 0;
      width: 100%;
      ul {
        li {
          width: 50%;
        }
      }
    }
    main {
      #content {
        float: none;
        width: 100%;
      }
      aside {
        display: none;
        float: none;
        width: 100%;
      }
    }
  }
  footer {
    .footer-inner {
      width: 100%;
    }
  }
}

// modules
header {
  overflow: hidden;
  .logo {
    float: left;
    padding: 10px;
  }
  .copy {
    float: left;
    padding: 0 50px;
    p {
      padding: 0 10px 20px;
    }
    ul {
      padding: 0 10px;
      li {
        a {
          margin-left: 20px;
          padding: 3px;
          background-color: $color-main;
          color: #fff;
          text-decoration: none;
          font-size: .9rem;
        }
      }
    }
  }
  .info {
    float: right;
    padding: 20px 0 0;
    p {
      margin-bottom: 10px;
      vertical-align: middle;
      line-height: 26px;
      img {
        width: 120px;
      }
    }
    ul {
      li {
        margin-bottom: 10px;
        height: 24px;
        background-position: left top;
        background-repeat: no-repeat;
        line-height: 24px;
        a {
          display: block;
          padding-left: 32px;
          width: 100%;
          height: 100%;
          color: inherit;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .link-youtube {
        background-image: url(http://khirayama.github.io/tumblr-creater/public/images/icon_sns_youtube.png);
      }
      .link-facebook {
        background-image: url(http://khirayama.github.io/tumblr-creater/public/images/icon_sns_facebook.png);
      }
      .link-twitter {
        background-image: url(http://khirayama.github.io/tumblr-creater/public/images/icon_sns_twitter.png);
      }
    }
  }
}
@media all and (max-width: $bp) {
  header {
    padding: 0!important;
    > div {
      clear: both;
      text-align: center;
    }
    .logo {
      width: 100%;
      text-align: center;
    }
    .copy {
      width: 100%;
      padding: 0 20px;
      text-align: center;
      img {
        width: 100%;
      }
      p {
        padding: 0 0 15px;
      }
      ul {
        padding: 0;
        display: inline-block;
        li {
          text-align: left;
          a {
            margin-left: 5px;
            text-align: center;
          }
        }
      }
    }
    .info {
      clear: both;
      width: 100%;
      text-align: center;
      > p {
        display: inline-block;
      }
      ul {
        display: inline-block;
        li {
          display: inline-block;
          margin: 0 10px;
          a {
            padding-left: 19px;
            font-size: 10px;
          }
        }
      }
    }
  }
}
nav {
  padding: 0 30px;
  .nav-about {
    width: 22%;
    img {
      width: 148px;
    }
  }
  .nav-schedule {
    width: 20%;
    img {
      width: 148px;
    }
  }
  .nav-blog {
    width: 36%;
    img {
      width: 265px;
    }
  }
  .nav-access {
    width: 22%;
    img {
      width: 168px;
    }
  }
}
@media all and (max-width: $bp) {
  nav {
    overflow: hidden;
    margin-top: 20px;
    ul {
      overflow: hidden;
      li {
        width: 100%!important;
        text-align: center;
        // a {
        //   height: 30px;
        //   line-height: 30px!important;
        // }
        // &.nav-about img {
        //   width: 75px;
        // }
        // &.nav-schedule img {
        //   width: 75px;
        // }
        // &.nav-blog img {
        //   width: 136px;
        // }
        // &.nav-access img {
        //   width: 88px;
        // }
      }
    }
  }
}
#content {
  section {
    padding: 20px 30px 50px;
    .img-wrap {
      margin-bottom: 10px;
    }
    ul {
      padding-top: 20px;
      li {
        overflow: hidden;
        .img-wrap {
          float: left;
          padding: 5px 40px 0 0;
          width: 45%;
        }
        table {
          th {
            font-weight: normal;
          }
          td {
            a {
              float: right;
              padding: 0 3px;
              background-color: $color-main;
              color: #fff;
              text-decoration: none;
              font-size: .9rem;
            }
          }
          .date {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  .download {
    margin-bottom: 20px;
    padding: 20px 0 0;
    text-align: center;
    a {
      padding: 3px;
      background-color: $color-main;
      color: #fff;
      text-decoration: none;
      font-size: .9rem;
    }
  }
}
aside {
  .list-sns {
    padding-top: 30px;
    li {
      float: left;
      width: 50%;
      img {
        width: 100%;
        vertical-align: bottom;
      }
    }
  }
  iframe {
    width: 100%;
  }
}
footer {
  background-color: $color-main;
  .footer-inner {
    position: relative;
    height: 120px;
    color: #fff;
  }
  .img-wrap {
    position: absolute;
    top: 10px;
    left: 50px;
    width: 75px;
    img {
      width: 100%;
    }
  }
  small {
    position: absolute;
    bottom: 10px;
    left: 50px;
  }
  ul {
    position: absolute;
    top: 10px;
    right: 50px;
  }
  @media all and (max-width: $bp) {
    & {
      .footer-inner {
        height: 190px;
      }
      .img-wrap {
        left: 10px;
      }
      small {
        width: 100%;
        left: 0;
        text-align: center;
      }
      ul {
        width: 200px;
        right: 10px;
      }
    }
  }
}

// contents
.index {
  #main-visual {
    img {
      width: 100%;
      height: auto;
    }
  }
  h2 {
    text-decoration: underline;
  }
  .img-wrap {
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }
  .posts {
    padding: 0 0 10px;
    .post {
      display: none;
      &:first-child {
        display: block;
      }
    }
  }
  iframe {
    width: 100%;
  }
  @media all and (max-width: $bp) {
    & {
      h2 {
        padding: 20px 18px 0;
      }
      section {
        padding: 0!important;
        p {
          padding: 10px 20px;
        }
      }
      #schedule {
        ul {
          li {
            .img-wrap {
              width: 100%;
              padding: 0 20px;
              margin-bottom: 5px;
            }
            table {
              margin: 0 auto 20px;
            }
          }
        }
      }
      #access {
        ul {
          padding: 10px 20px;
        }
      }
    }
  }
}

.schedule {
  h2 {
    text-decoration: underline;
  }
  .schedule-list {
    padding-right: 30px;
    li {
      overflow: hidden;
      margin-bottom: 20px;
      .img-wrap {
        float: left;
        width: 40%;
      }
      .copy {
        text-align: center;
      }
      .description-wrap {
        float: right;
        width: 55%;
        h3 {
          margin: 0;
          font-size: 1.5rem;
        }
        p {
          margin: 0;
          &.date {
            margin-bottom: 10px;
            font-size: 1.5rem;
          }
        }
      }
    }
    .main-list-item {
      margin-bottom: 0;
      .img-wrap {
        width: 100%;
      }
      h3 {
        text-align: center;
      }
    }
  }
  .img-wrap {
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }
  iframe {
    width: 100%;
  }
  @media all and (max-width: $bp) {
    & {
      h2 {
        padding: 0 30px;
      }
      .schedule-list {
        padding: 0 30px;
      }
    }
  }
}

.tag-list {
  margin-bottom: 20px;
  li {
    display: inline-block;
    cursor: pointer;
    padding: 3px 10px;
    margin-left: 5px;
    a {
      display: block;
      text-decoration: none;
      color: #fff;
      &:hover {
        text-decoration: none;
      }
    }
    &.all {
      background-color: rgb(27, 39,78);
    }
    &.see {
      background-color: rgb(227, 68, 30);
    }
    &.eat {
      background-color: rgb(240, 235, 58);
    }
    &.stay {
      background-color: rgb(29, 135, 59);
    }
    &.goods {
      background-color: rgb(116, 83, 153);
    }
  }
}
.posts {
  padding: 0 30px 30px 0;
  .read_more_container {
    display: none;
  }
  .post {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 230px;
    background-color: #ddd;
    h3 {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      padding: 0;
      color: #fff;
      text-decoration: none;
      font-size: 20px;
      line-height: 45px;
      &:before {
        content: '';
        display: inline-block;
        width: 80px;
        height: 45px;
        line-height: 45px;
        margin-right: 10px;
        text-align: center;
        font-size: 16px;
        vertical-align: top;
      }
      &.see:before {
        content: '見る';
        background-color: rgb(227, 68, 30);
      }
      &.eat:before {
        content: '食べる';
        background-color: rgb(240, 235, 58);
      }
      &.stay:before {
        content: '泊まる';
        background-color: rgb(29, 135, 59);
      }
      &.goods:before {
        content: 'グッズ';
        background-color: rgb(116, 83, 153);
      }
    }
    figure {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  @media all and (max-width: $bp) {
    & {
      padding: 0;
      h2 {
        padding: 0 30px;
      }
    }
  }
}

.post {
  .post-content {
    padding: 20px 30px 50px;
  }
  a {
    text-decoration: none;
    h2 {
      color: #333;
      text-decoration: none;
      font-size: 2rem;
      line-height: 45px;
      margin-top: 30px;
      margin-bottom: 20px;
      &:before {
        content: '';
        display: inline-block;
        width: 80px;
        height: 45px;
        line-height: 45px;
        margin-right: 10px;
        text-align: center;
        font-size: 16px;
        vertical-align: top;
        color: #fff;
      }
      &.see:before {
        content: '見る';
        background-color: rgb(227, 68, 30);
      }
      &.eat:before {
        content: '食べる';
        background-color: rgb(240, 235, 58);
      }
      &.stay:before {
        content: '泊まる';
        background-color: rgb(29, 135, 59);
      }
      &.goods:before {
        content: 'グッズ';
        background-color: rgb(116, 83, 153);
      }
    }
  }
  figure {
    width: 100%;
    img {
      width: 100%;
      height: auto;
      vertical-align: bottom;
    }
  }
  @media all and (max-width: $bp) {
    & {
      .post-content {
        padding: 0 0 50px!important;
        p {
          padding: 10px 20px;
        }
      }
    }
  }
}

.pagination {
  overflow: hidden;
}
.next-page,
.prev-page {
  text-decoration: none;
  color: #333;
  padding: 10px 0;
  font-size: 16px;
}
.next-page {
  float: right;
}
.prev-page {
  float: left;
}
