aside
  ul.list-sns
    li
      a(href="https://www.facebook.com/setodafilmfestival")
        img(src="http://khirayama.github.io/tumblr-creater/public/images/img_sns_facebook.png")
    li
      a(href="https://twitter.com/setodafilmfest")
        img(src="http://khirayama.github.io/tumblr-creater/public/images/img_sns_twitter.png")
  .fb-page(data-href="https://www.facebook.com/setodafilmfestival" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" data-show-posts="true")
    .fb-xfbml-parse-ignore
      blockquote(cite="https://www.facebook.com/setodafilmfestival")
        a(href="https://www.facebook.com/setodafilmfestival")
          瀬戸田映画祭
