aside
  .fb-page(data-href="https://www.facebook.com/setodafilmfestival" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" data-show-posts="true")
    .fb-xfbml-parse-ignore
      blockquote(cite="https://www.facebook.com/setodafilmfestival")
        a(href="https://www.facebook.com/setodafilmfestival")
          瀬戸田映画祭
