footer
  .footer-inner
    .img-wrap
      a(href="/")
        img(src="http://khirayama.github.io/tumblr-creater/public/images/img_logo_w.png")
    small Copyright &copy; 2015 setoda film festival. All Rights Reserved.
    ul
      li 主催：瀬戸田映画祭実行委員会
      li 助成：一般財団法人ツネイシみらい財団
      li
        | 協力：瀬戸田サンセットビーチ/広島県立瀬戸田高等学校
        br
        | 　　　尾道県立瀬戸田中学校/尾道帆布株式会社
