header
  .logo
    img(src="images/img_logo.png")
  .copy
    img(src="images/img_header_copy.png")
    p
      | 瀬戸内海にある島と映画の魅力を
      br
      | カラダいっぱいで感じる、夏の映画祭
    ul
      li 日時： 
        time(datetime="2015-08-21") 2015年8月21日（金）
        | 〜
        time(datetime="2015-08-23") 23日（日）
      li 会場：広島県尾道市瀬戸田
        a(href="#") 前売り券はこちら
  .info
    p 助成：
      img(src="images/img_header_sponsered.jpg")
    ul
      li.link-youtube
        a(href="#") 過去の映画祭の様子
      li.link-facebook
        a(href="#") facebook
      li.link-twitter
        a(href="#") twitter



