header
  .logo
    a(href="/")
      img(src="http://khirayama.github.io/tumblr-creater/public/images/img_logo.png")
  .copy
    img(src="http://khirayama.github.io/tumblr-creater/public/images/img_header_copy.png")
    p
      | 瀬戸内海にある島と映画の魅力を
      br
      | カラダいっぱいで感じる、夏の映画祭
    ul
      li 日時： 
        time(datetime="2015-08-21") 2015年8月21日（金）
        | 〜
        time(datetime="2015-08-23") 23日（日）
      li 会場：広島県尾道市瀬戸田
        a(href="mailto:setodafilmfestival@gmail.com?subject=瀬戸田映画祭-2015前売り券&body=この度は、第四回瀬戸田映画祭の%0D%0A前売り券チケットの購入をありがとうございます。%0D%0A%0D%0A下記本文の項目を記載の上、ご返信下さい。%0D%0A担当者より、振込口座等の情報をご返信させていただきます。%0D%0A%0D%0A名前:%0D%0Aチケット購入枚数:%0D%0Aメールアドレス:%0D%0A%0D%0A映画祭の情報はこちら。%0D%0Ahttp://setoda-film-festival.com/ %0D%0A%0D%0Aブログー島がまるごと映画するー%0D%0Aにて瀬戸田の食や観光も紹介しております。%0D%0A映画祭に合わせ、是非、瀬戸田を楽しんで下さい。%0D%0A%0D%0A何卒、宜しくお願いいたします。%0D%0A%0D%0A瀬戸田映画祭実行委員会より") 前売り券はこちら
  .info
    p 助成：
      img(src="http://khirayama.github.io/tumblr-creater/public/images/img_header_sponsered.jpg")
    ul
      li.link-youtube
        a(href="http://katoreak.wix.com/setodafilmfestival") 過去の映画祭の様子
      li.link-facebook
        a(href="https://www.facebook.com/setodafilmfestival") facebook
      li.link-twitter
        a(href="https://twitter.com/setodafilmfest") twitter



