nav
  ul
    li.nav-about
      a(href="#about") 
        img(src="http://khirayama.github.io/tumblr-creater/public/images/hdg_about.png" alt="#{TEXT.ABOUT}")
    li.nav-schedule
      a(href="#schedule")
        img(src="http://khirayama.github.io/tumblr-creater/public/images/hdg_schedule.png" alt="#{TEXT.SCHEDULE}")
    li.nav-blog
      a(href="#blog")
        img(src="http://khirayama.github.io/tumblr-creater/public/images/hdg_blog.png" alt="#{TEXT.BLOG}")
    li.nav-access
      a(href="#access")
        img(src="http://khirayama.github.io/tumblr-creater/public/images/hdg_access.png" alt="#{TEXT.ACCESS}")

