nav
  ul
    li.nav-about
      a(href="#") 
        img(src="images/hdg_about.png" alt="#{TEXT.ABOUT}")
    li.nav-schedule
      a(href="#")
        img(src="images/hdg_schedule.png" alt="#{TEXT.SCHEDULE}")
    li.nav-blog
      a(href="#")
        img(src="images/hdg_blog.png" alt="#{TEXT.BLOG}")
    li.nav-access
      a(href="#")
        img(src="images/hdg_access.png" alt="#{TEXT.ACCESS}")

