main.blog
  section#content
    h2
      img(src="http://khirayama.github.io/tumblr-creater/public/images/hdg_blog.png" alt="#{TEXT.BLOG}")
    ul.tag-list
      li.all
        a(href="/tagged/blog") 一覧
      li.see
        a(href="/tagged/see") 見る
      li.eat
        a(href="/tagged/eat") 食べる
      li.stay
        a(href="/tagged/stay") 泊まる
      li.goods
        a(href="/tagged/goods") グッズ
    ul.posts.
      {block:Posts}
        {block:Text}
          <li class="post text">
            <a href="{Permalink}">
              {block:Title}<h3 class="{TagsAsClasses}">{Title}</h3>{/block:Title}
              {Body}
            </a>
          </li>
        {/block:Text}
      {/block:Posts}

      {block:Pagination}
        <div class="pagination">
          {block:PreviousPage}
              <a class="prev-page" href="{PreviousPage}">前へ</a>
          {/block:PreviousPage}

          {block:NextPage}
            <a class="next-page" href="{NextPage}">次へ</a>
          {/block:NextPage}
        </div>
      {/block:Pagination}
  include ../components/aside
