main.schedule
  section#content
    h2
      img(src="http://khirayama.github.io/tumblr-creater/public/images/hdg_schedule.png" alt="#{TEXT.SCHEDULE}")
    ul.schedule-list#first-day
      li.main-list-item
        h3 潮風が心地よい立地に建つ「広島県立瀬戸田高等学校」
        .img-wrap
          img(src="http://khirayama.github.io/tumblr-creater/public/images/img_schedule_main_01.png")
      li
        .description-wrap
          p.date 8月21日（金）
          p 会場：広島県立瀬戸田高等学校
          p 　　　（広島県尾道市瀬戸田町名荷 1110-2）
          p 入場料：無料
      li
        .img-wrap
          img(src="http://khirayama.github.io/tumblr-creater/public/images/img_schedule_01.png")
        .description-wrap
          p 上演（体育館）/ 18:00-
          h3 『海のWindos、夜のDoors』
          p （作・出演 / 島村和秀）
          p 30歳になった足立は、高校の同級生だったミカに出会う。舞台は瀬戸田。そして夏の夜。予感のすべてがここに！瀬戸田のスタンダードラヴが今明かされる！！
      li
        .img-wrap
          img(src="http://khirayama.github.io/tumblr-creater/public/images/img_schedule_02.png")
        .description-wrap
          p 上演（中庭）/ 19:30-
          h3 『doolla』
          p （2015年 / カラー / 35分）
          p 監督：市川玲
          p 広島県生口島で暮らす、青年ヨシトと妹のユカ、そして友人のケンイチ。何気ない日常を生きる彼らだったが、ある日ケンイチが行方不明となる。捜索に出たヨシトとユカが見るモノとは...?すべての撮影を瀬戸田で行った。純正瀬戸田映画。
      li
        .img-wrap
          img(src="http://khirayama.github.io/tumblr-creater/public/images/img_schedule_03.png")
        .description-wrap
          h3 『どろん』
          p （2014年 / カラー / 30分 / 嶺豪一 監督）
          p 高校生の時よく通っていた喫茶店のマスターが亡くなっていたことをネットで知った。僕の頭の中は急に高校時代に戻り、マスターの声が再生された。僕の携帯には今もマスターの携帯番号が残っている。どろん。
      li
        .img-wrap
          img(src="http://khirayama.github.io/tumblr-creater/public/images/img_schedule_04.png")
        .description-wrap
          h3 『みんな蒸してやる』
          p （2015年 / カラー / 41分 / 大河原恵 監督）
          p かかしになりたいおとこは夢中  おんなは今更さよならふりむかせたい　私が結婚しても  いつもの時間に きみがラジオきくなら
    p.download
      a(href="http://khirayama.github.io/tumblr-creater/public/images/setoda_web.pdf") PDFでチラシをダウンロード

    ul.schedule-list#second-day
      li.main-list-item
        h3 夕日が沈むビーチを背にスクリーンを望む「瀬戸田サンセットビーチ」
        .img-wrap
          img(src="http://khirayama.github.io/tumblr-creater/public/images/img_schedule_main_02.png")
      li
        .img-wrap
          img(src="http://khirayama.github.io/tumblr-creater/public/images/img_schedule_05.png")
        .description-wrap
          p.date 8月22日（土）
          p 会場：瀬戸田サンセットビーチ
          p 　　　（広島県尾道市瀬戸田垂水 1506-15）
          p 入場料：当日券/￥1,200（前売り券/￥1,000）
          p 開場 / 18:30- 上映 / 19:30-
          p （※上映前にイベントあり）
          br
          h3 『男はつらいよ 浪花の恋の寅次郎』s
          p 監督：山田洋次 主演：渥美清
          p カラー / 1981年 / 104分
      li
        .img-wrap
          img(src="http://khirayama.github.io/tumblr-creater/public/images/img_schedule_06.png")
        .description-wrap
          p.date 8月23日（日）
          p 会場：瀬戸田サンセットビーチ
          p 　　　（広島県尾道市瀬戸田垂水 1506-15）
          p 入場料：当日券/￥1,200（前売り券/￥1,000）
          p 開場 / 18:30- 上映 / 19:30-
          p （※上映前にイベントあり）
          br
          h3 『ももへの手紙』
          p 監督：沖浦啓之
          p カラー / 2012年 / 120分
    p.download
      a(href="http://khirayama.github.io/tumblr-creater/public/images/setoda_web.pdf") PDFでチラシをダウンロード

  include ../components/aside

